name: "Testing"

on:
  push:
    branches:
      - main

jobs:
  test_the_action:
    #if: "contains(github.event.head_commit.message, 'backend')"
    name: Test the action
    runs-on: ubuntu-22.04
    steps:
      - name: Log
        shell: bash
        run: echo " $WEBHOOK_URL + ${{env.WEBHOOK_URL}}"
      - name: Webhook
        uses: distributhor/workflow-webhook@v3.0.5
        with:
            webhook_url: "${{vars.WEBHOOK_URL}}"
